MSF_CCS/Shared Archive/SharedResources/SchemaDefinitions/Resource/FC/MasterCatalogRecord_Action.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/cim/services/mastercatalogrecord/wsdl/2.0"
	 targetNamespace="http://www.tibco.com/cim/services/mastercatalogrecord/wsdl/2.0"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>
            © TIBCO Software 2008
        </xs:documentation>
	</xs:annotation>

	<!-- component types -->
	<xs:include schemaLocation="./Common.xsd"/>
	<xs:element name="DataService" type="DataServiceType"/>

	<!--xs:element name="BaseEntity" type="BaseEntityType"/-->
	<!--xs:element name="ddd" type="RecordAttributeEntityDataType"></xs:element-->
	<!--xs:element name="MasterCatalogRecord" type="MasterCatalogRecordType" substitutionGroup="BaseEntity"/-->
	<!--xs:element name="Response" type="CommandType"/-->
	<!--xs:element name="Description" type="DescriptionType"/-->
	<!--xs:element name="Command" type="CommandType"/-->
	<!--xs:element name="BaseEntity" type="BaseEntityType"/-->
	<!--xs:element ref="Response" minOccurs="0"/-->
	<xs:group name="CommandOrResponse">
		<xs:choice>
			<xs:element name="Command" type="CommandType" minOccurs="0"/>
			<xs:element name="Response" type="CommandType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="CommandType">
		<xs:sequence>
			<xs:element name="StartCount" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="MaxCount" type="xs:positiveInteger" minOccurs="0"/>

			<!--xs:element ref="BaseEntity" minOccurs="0" maxOccurs="unbounded"/-->
			<xs:element name="OrderByColumnList" type="xs:string" minOccurs="0"/>
			<xs:choice>
				<xs:element name="Entity" type="EntityType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="MasterCatalogRecord" type="MasterCatalogRecordType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="ResultList" type="ResultListType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="CommtypeType"/>
		<xs:attribute name="id" type="xs:string"/>
		<!--xs:sequence>
                  <xs:element name="StartCount" type="xs:positiveInteger" minOccurs="0"/>
                  <xs:element name="MaxCount" type="xs:positiveInteger" minOccurs="0"/>
                  <xs:element name="MasterCatalogRecord" type="MasterCatalogRecordType" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence-->
	</xs:complexType>

	<!-- Top level elements in this schema -->
	<!-- MasterCatalogRecordTypes -->
	<xs:group name="RecordMetaDataGroup">
		<xs:sequence>
			<xs:element name="name" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="description" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="predefined" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="help" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="displayName" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="searchable" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="length" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="position" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="dataType" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="displayInRecordList" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="quickViewable" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="columnName" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="DBID" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="multiValued" type="EntityPrimitiveAttributeType" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="RecordValidValuesGroup">
		<xs:sequence>
			<xs:element name="Value" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="Visibility" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="ValidValues" type="MapOrArrayType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="RecordMultiValueValidValuesGroup">
		<xs:sequence>
			<xs:element name="Visibility" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="Values" type="ArrayType" minOccurs="0"/>
			<xs:element name="ValidValues" type="MapOrArrayType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>

	<!-- various types definitions -->
	<xs:complexType name="MasterCatalogRecordEntityDataType">
		<xs:complexContent>
			<xs:extension base="EntityDataType">
				<xs:sequence>
					<xs:element name="Name" type="EntityPrimitiveAttributeType" minOccurs="0"/>
					<xs:element name="Description" type="EntityPrimitiveAttributeType" minOccurs="0"/>
					<xs:element name="SystemGenerated" type="EntityPrimitiveAttributeType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RecordAttributeEntityDataType">
		<xs:complexContent>
			<xs:extension base="EntityDataType">
				<xs:choice>
					<xs:group ref="RecordMetaDataGroup" minOccurs="0"/>
					<xs:group ref="RecordValidValuesGroup" minOccurs="0"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RecordAttributeMultiValueEntityDataType">
		<xs:complexContent>
			<xs:extension base="EntityDataType">
				<xs:group ref="RecordMultiValueValidValuesGroup" minOccurs="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttributeGroupEntityDataType">
		<xs:complexContent>
			<xs:extension base="EntityDataType">
				<xs:sequence>
					<xs:element name="name" type="EntityPrimitiveAttributeType" minOccurs="0"/>
					<xs:element name="description" type="EntityPrimitiveAttributeType" minOccurs="0"/>
					<xs:element name="predefined" type="EntityPrimitiveAttributeType" minOccurs="0"/>
					<xs:element name="expandByDefault" type="EntityPrimitiveAttributeType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="MasterCatalogRecordCommandQualifierType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MetaData"/>
			<xs:enumeration value="ValidValues"/>
			<xs:enumeration value="ValidValuesInit"/>
			<xs:enumeration value="Add"/>
			<xs:enumeration value="Modify"/>
			<xs:enumeration value="Records"/>
			<xs:enumeration value="Record"/>
			<xs:enumeration value="RelatedRecords"/>
			<xs:enumeration value="RelationshipTargets"/>
			<xs:enumeration value="DeleteAll"/>
			<xs:enumeration value="Record/NoProcess"/>
			<xs:enumeration value="RelationshipTargets/NoProcess"/>
			<xs:enumeration value="DeleteAll/NoProcess"/>
			<xs:enumeration value="Validate/Process"/>
			<xs:enumeration value="Validate/NoProcess"/>
			<xs:enumeration value="NoValidate/NoProcess"/>
			<xs:enumeration value="NoValidate/Process"/>
			<xs:enumeration value="Validate/ProcessOnDataChange"/>
			<xs:enumeration value="NoValidate/ProcessOnDataChange"/>
			<xs:enumeration value="FACTSHEET"/>
			<xs:enumeration value="CatEditChange"/>
			<xs:enumeration value="CatEditDelete"/>
			<xs:enumeration value="CatEditImport"/>
			<xs:enumeration value="CatEditAdd"/>
			<xs:enumeration value="CatEditAccepted"/>
			<xs:enumeration value="ACBulkModelDocSub"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- end MasterCatalogRecordTypes -->
	<xs:group name="EntityGroup">
		<xs:sequence>
			<xs:element name="ExternalKeys" type="ExternalKeysType" minOccurs="0"/>
			<xs:element name="ParentRecordData" type="ParentRecordType" minOccurs="0"/>
			<xs:element name="Return" type="ReturnType" minOccurs="0"/>
			<xs:element name="EntityData" type="EntityDataType" minOccurs="0"/>
			<xs:element name="RelationshipData" type="RelationshipDataType" minOccurs="0"/>
			<xs:element name="ResultList" type="ResultListType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>

	<!--xs:complexType name="BaseEntityType" abstract="true"-->
	<xs:complexType name="BaseEntityType">
		<xs:sequence>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityType">
		<xs:complexContent>
			<xs:extension base="BaseEntityType">
				<xs:attribute name="type" type="xs:string"/>
				<xs:attribute name="commandqualifier" type="MasterCatalogRecordCommandQualifierType"/>
				<xs:attribute name="execmode" type="ExecModeType"/>
				<xs:attribute name="etype" type="xs:anySimpleType" fixed="Entity"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MasterCatalogRecordType">
		<xs:complexContent>
			<xs:extension base="BaseEntityType">
				<xs:attribute name="commandqualifier" type="MasterCatalogRecordCommandQualifierType"/>
				<xs:attribute name="execmode" type="ExecModeType"/>
				<xs:attribute name="etype" type="xs:anySimpleType" fixed="Entity" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RelatedEntitiesType">
		<xs:choice>
			<xs:element name="AttributeGroup" type="AttributeGroupType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RecordAttribute" type="RecordAttributeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="MasterCatalogRecordOrRelationshipAttributesType" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:group name="MasterCatalogRecordOrRelationshipAttributesType">
		<xs:sequence>
			<xs:element name="MasterCatalogRecord" type="MasterCatalogRecordType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RelationshipAttributes" type="RelationshipAttributesDataType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="AttributeGroupType">
		<xs:complexContent>
			<xs:extension base="BaseEntityType">
				<xs:attribute name="etype" type="xs:anySimpleType" fixed="Entity"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RecordAttributeType">
		<xs:complexContent>
			<xs:extension base="BaseEntityType">
				<xs:attribute name="etype" type="xs:anySimpleType" fixed="Entity"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--  Definition of types -->
	<xs:simpleType name="CommtypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Query"/>
			<xs:enumeration value="Validate"/>
			<xs:enumeration value="Add"/>
			<xs:enumeration value="Modify"/>
			<xs:enumeration value="Delete"/>
			<xs:enumeration value="InitiateWorkflow"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TransactionType">
		<xs:sequence>
			<xs:element name="Context" type="ContextType" minOccurs="0"/>
			<xs:group ref="CommandOrResponse"/>
			<xs:element name="TransactionResult" type="TransactionResultType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataServiceType">
		<xs:sequence>
			<xs:element name="Identity" type="IdentityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Context" type="ContextType" minOccurs="0"/>
			<xs:element name="Transaction" type="TransactionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Result" type="ResultType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:enumeration value="2.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ParentRecordType">
		<xs:sequence>
			<xs:element name="Record" type="RecordType"/>
			<xs:element name="Relationship" type="RelationshipType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordType">
		<xs:sequence>
			<xs:element name="ExternalKeys" type="ExternalKeysType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelationshipType">
		<xs:sequence>
			<xs:element name="RelationType" type="RelationType"/>
			<xs:choice minOccurs="0">
				<xs:group ref="RelatedEntitiesGroup"/>
				<xs:group ref="RelationshipAttributesGroup"/>
			</xs:choice>
			<xs:element name="RelationDepth" type="xs:positiveInteger" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="incremental" type="xs:boolean"/>
		<xs:attribute name="delete" type="xs:boolean"/>
		<xs:attribute name="checkExistence" type="xs:boolean"/>
		<xs:attribute name="count" type="xs:positiveInteger"/>
	</xs:complexType>
	<xs:complexType name="RelationshipDataType">
		<xs:sequence>
			<xs:element name="Relationship" type="RelationshipType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelationshipAttributesDataType">
		<xs:complexContent>
			<xs:extension base="EntityDataType">
				<xs:attribute name="name" type="xs:string"/>
				<xs:attribute name="etype" type="xs:anySimpleType" fixed="Entity"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="RelatedEntitiesGroup">
		<xs:sequence>
			<xs:element name="RelatedEntities" type="RelatedEntitiesType" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="RelationshipAttributesGroup">
		<xs:sequence>
			<xs:element name="RelationshipAttributes" type="RelationshipAttributesDataType" minOccurs="0"/>
			<xs:element name="Record" type="RecordType" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
</xs:schema>