MSF_PaymentGateway/Shared Archive/SharedResources/WebServiceDefinitions/Interface/Billing/BillingPayment/BillingPaymentManagement/Concrete/MC_PaymentGateway_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://three.co.uk/xsd/resource/common/commondefinitions/msf/exceptioninfo/v1" xmlns:ns="http://three.co.uk/xsd/resource/common/commondefinitions/msf/messagecontext/v1" xmlns:tns="http://three.co.uk/xsd/Interface/billing/billingpayment/billingpaymentmanagement/mcpaymentgateway/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://three.co.uk/xsd/Interface/billing/billingpayment/billingpaymentmanagement/mcpaymentgateway/v1">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://three.co.uk/xsd/resource/common/commondefinitions/msf/exceptioninfo/v1">
            <xs:include schemaLocation="../../../../../../../SharedResources/SchemaDefinitions/Resource/Common/CommonDefinitions/MSF/ExceptionInfo_v1.xsd"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://three.co.uk/xsd/Interface/billing/billingpayment/billingpaymentmanagement/mcpaymentgateway/v1">
            <xs:include schemaLocation="../../../../../../../SharedResources/SchemaDefinitions/Interface/Billing/BillingPayment/BillingPaymentManagement/MC_PaymentGateway_v1.xsd"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://three.co.uk/xsd/resource/common/commondefinitions/msf/messagecontext/v1">
            <xs:include schemaLocation="../../../../../../../SharedResources/SchemaDefinitions/Resource/Common/CommonDefinitions/MSF/MessageContext_v1.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="MC_PaymentGateway_v1">
        <wsdl:port binding="tns:PaymentGatewayEndpoint-JMSBinding" name="PaymentGatewayEndpoint-JMS">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://tgs-3uk-centos64-1:7242</jndi:property>
            </jndi:context>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">UK.DEV.REQ.BILL.BILLPAY.BILLPAYMGT.MCPAYMENTGATEWAY.SOAP11.V1</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PaymentGateway">
        <wsdl:operation name="GetSubscriberCardList">
            <wsdl:input message="tns:GetSubscriberCardListRequest"/>
            <wsdl:output message="tns:GetSubscriberCardListResponse"/>
            <wsdl:fault message="tns:ExceptionInfo" name="fault1"/>
        </wsdl:operation>
        <wsdl:operation name="GetPaymentMethodDetails">
            <wsdl:input message="tns:GetPaymentMethodDetailsRequest"/>
            <wsdl:output message="tns:GetPaymentMethodDetailsResponse"/>
            <wsdl:fault message="tns:ExceptionInfo" name="fault1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PaymentGatewayEndpoint-JMSBinding" type="tns:PaymentGateway">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="GetSubscriberCardList">
            <soap:operation soapAction="PaymentGatewayEndpoint-JMS/GetSubscriberCardList" style="document"/>
            <wsdl:input>
                <soap:body parts="part1" use="literal"/>
                <soap:header message="tns:MessageContext" part="part1" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="part1" use="literal"/>
                <soap:header message="tns:MessageContext" part="part1" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetPaymentMethodDetails">
            <soap:operation soapAction="PaymentGatewayEndpoint-JMS/GetPaymentMethodDetails" style="document"/>
            <wsdl:input>
                <soap:body parts="part1" use="literal"/>
                <soap:header message="tns:MessageContext" part="part1" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="part1" use="literal"/>
                <soap:header message="tns:MessageContext" part="part1" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="MessageContext">
        <wsdl:part element="ns:MessageContext" name="part1"/>
    </wsdl:message>
    <wsdl:message name="GetSubscriberCardListRequest">
        <wsdl:part element="tns:GetSubscriberCardListRequest" name="part1"/>
    </wsdl:message>
    <wsdl:message name="GetSubscriberCardListResponse">
        <wsdl:part element="tns:GetSubscriberCardListResponse" name="part1"/>
    </wsdl:message>
    <wsdl:message name="ExceptionInfo">
        <wsdl:part element="ns1:ExceptionInfo" name="part1"/>
    </wsdl:message>
    <wsdl:message name="GetPaymentMethodDetailsRequest">
        <wsdl:part element="tns:GetPaymentMethodDetailsRequest" name="part1"/>
    </wsdl:message>
    <wsdl:message name="GetPaymentMethodDetailsResponse">
        <wsdl:part element="tns:GetPaymentMethodDetailsResponse" name="part1"/>
    </wsdl:message>
</wsdl:definitions>