MSF_OrderFallout/Shared Archive/SharedResources/SchemaDefinitions/Resource/FC/Cim_Services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns="http://www.tibco.com/cim/services/payload/wsdl/2.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tibco.com/cim/services/mastercatalogrecordworkitem/wsdl/2.0" xmlns:mcr="http://www.tibco.com/cim/services/mastercatalogrecord/wsdl/2.0" xmlns:wit="http://www.tibco.com/cim/services/workitem/wsdl/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CIMServices" targetNamespace="http://www.tibco.com/cim/services/mastercatalogrecordworkitem/wsdl/2.0">
    <wsdl:documentation>            Copyright (c) 2010 TIBCO Software Inc. All Rights Reserved.</wsdl:documentation>
    <!-- Commenting towards WS-I BPR 1.1 compliance
    <wsdl:import namespace="http://www.tibco.com/cim/services/workitem/wsdl/2.0" location="Workitem_Action.xsd"/>
	<wsdl:import namespace="http://www.tibco.com/cim/services/mastercatalogrecord/wsdl/2.0" location="MasterCatalogRecord_Action.xsd"/>
	<wsdl:import namespace="http://www.tibco.com/cim/services/payload/wsdl/2.0" location="Payload.xsd"/>
	-->
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/cim/dataservice/2.0/wsdl">
            <xsd:import namespace="http://www.tibco.com/cim/services/workitem/wsdl/2.0" schemaLocation="Workitem_Action.xsd"/>
            <xsd:import namespace="http://www.tibco.com/cim/services/mastercatalogrecord/wsdl/2.0" schemaLocation="MasterCatalogRecord_Action.xsd"/>
            <xsd:import namespace="http://www.tibco.com/cim/services/payload/wsdl/2.0" schemaLocation="Payload.xsd"/>
            <!--	<xsd:import namespace = "http://schemas.xmlsoap.org/wsdl/" schemaLocation = "http://schemas.xmlsoap.org/wsdl/2003-02-11.xsd"/> -->
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="EnvelopedMessage">
        <wsdl:part element="ns:Payload" name="payloadPart"/>
    </wsdl:message>
    <wsdl:message name="MasterCatalogRecordRequest">
        <wsdl:part element="mcr:DataService" name="mcRequestPart"/>
    </wsdl:message>
    <wsdl:message name="MasterCatalogRecordResponse">
        <wsdl:part element="mcr:DataService" name="mcResponsePart"/>
    </wsdl:message>
    <wsdl:message name="WorkitemRequest">
        <wsdl:part element="wit:DataService" name="wiRequestPart"/>
    </wsdl:message>
    <wsdl:message name="WorkitemResponse">
        <wsdl:part element="wit:DataService" name="wiResponsePart"/>
    </wsdl:message>
    <wsdl:portType name="CIMPortType">
        <wsdl:operation name="MasterCatalogRecordAction">
            <wsdl:input message="tns:MasterCatalogRecordRequest"/>
            <wsdl:output message="tns:MasterCatalogRecordResponse"/>
        </wsdl:operation>
        <wsdl:operation name="WorkitemAction">
            <wsdl:input message="tns:WorkitemRequest"/>
            <wsdl:output message="tns:WorkitemResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RouteAction">
            <wsdl:input message="tns:EnvelopedMessage"/>
            <wsdl:output message="tns:EnvelopedMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CIMHttpBinding" type="tns:CIMPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="WorkitemAction">
            <soap:operation soapAction="WorkitemAction"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MasterCatalogRecordAction">
            <soap:operation soapAction="MasterCatalogRecordAction"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RouteAction">
            <soap:operation soapAction="RouteAction"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CIMServices">
        <wsdl:port binding="tns:CIMHttpBinding" name="CIMHttpPort">
            <soap:address location="http://localhost:9081/eml/services/router"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>