MSF_OrderFallout/Shared Archive/SharedResources/SchemaDefinitions/Resource/FC/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>
            © TIBCO Software 2008
        </xs:documentation>
	</xs:annotation>
	<!--xs:element name="Key" type="KeyType"/-->
	<!--xs:element name="Value" type="KeyType" substitutionGroup="Key"/-->
	<xs:complexType name="KeyOrValueType">
		<xs:choice>
			<xs:element name="Key" type="KeyType"/>
			<xs:element name="Value" type="KeyType"/>
		</xs:choice>
	</xs:complexType>
	<!--xs:element name="EntityData" type="EntityDataType"/-->
	<!--xs:element name="Payload" type="PayloadType"/>
	<xs:complexType name="PayloadType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="ActionType" use="optional" default="mastercatalog"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType-->
	<!-- Simple types-->
	<!--xs:element name="Diagnostic" type="xs:string"/-->
	<!-- Top level elements in this schema -->
	<!--xs:element name="Description" type="DescriptionType"/-->
	<xs:complexType name="IdentityType">
		<xs:sequence>
			<xs:element name="DirectoryPath" type="DirectoryPathType" maxOccurs="unbounded"/>
			<xs:element name="Authentication" type="AuthenticationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectoryType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="Enterprise"/>
							<xs:enumeration value="GLN"/>
							<xs:enumeration value="User"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DirectoryPathType">
		<xs:sequence>
			<xs:element name="Directory" type="DirectoryType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthenticationType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="xs:string" default="Password"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ContextType">
		<xs:sequence>
			<xs:element name="Variable" type="KeyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExternalKeysType">
		<xs:sequence>
			<xs:element name="Key" type="KeyType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeyType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string"/>
				<xs:attribute name="type" type="DataType"/>
				<xs:attribute name="lowerLimit" type="xs:int"/>
				<xs:attribute name="upperLimit" type="xs:int"/>
				<xs:attribute name="before" type="xs:date"/>
				<xs:attribute name="after" type="xs:date"/>
				<xs:attribute name="exact" type="xs:boolean"/>
				<xs:attribute name="caseSensitive" type="xs:boolean"/>
				<xs:attribute name="operator" type="OperatorType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EntityDataType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
			<!--xs:element name="AttributeCollection" type="BaseAttributeCollection" minOccurs="0" maxOccurs="unbounded"/-->
			<xs:element name="AttributeCollection" type="AttributeCollectionType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Added for MultiValue Attribute start-->
			<xs:element name="MultiValueAttribute" type="MultiValueType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Added for MultiValue Attribute -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeCollectionType">
		<xs:complexContent>
			<xs:extension base="BaseAttributeCollection">
				<xs:sequence>
					<xs:element name="Entry" type="MultiArrayEntry" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:string" fixed="marray"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttributeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required"/>
				<xs:attribute name="type" type="DataType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EntityPrimitiveAttributeType" mixed="true">
		<xs:attribute name="etype" type="xs:string" fixed="Attribute"/>
		<xs:attribute name="type" type="DataType"/>
		<!--xs:choice/-->
	</xs:complexType>
	<!--xs:complexType name="RelatedEntitiesType">
		<xs:choice>
			<xs:element name="AttributeGroup" type="AttributeGroupType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RecordAttribute" type="RecordAttributeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MasterCatalogRecord" type="MasterCatalogRecordType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType-->
	<xs:complexType name="EntityReturnType">
		<xs:sequence>
			<xs:element name="ExternalKeys" type="ExternalKeysType"/>
		</xs:sequence>
		<xs:attribute name="type">
			<!-- TODO: add more EntityType@type values -->
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="OutputMap"/>
				</xs:restriction>
				<!-- TODO: add more EntityType@type values -->
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ResultListType">
		<xs:sequence>
			<xs:element name="Result" type="ResultType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="highestSeverity" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
					<xs:enumeration value="Info"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="reference" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ResultType">
		<xs:sequence>
			<xs:element name="Description" type="DescriptionType"/>
			<xs:element name="Diagnostic" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="xs:string" use="required"/>
		<xs:attribute name="severity" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
					<xs:enumeration value="Info"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ReturnType">
		<xs:sequence>
			<xs:group ref="ReturnEntityGroup"/>
			<xs:element name="RelationshipData" type="RelationshipDataMapType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionResultType">
		<xs:sequence>
			<xs:element name="SuccessCount" type="CountType" minOccurs="0"/>
			<xs:element name="TotalCount" type="CountType" minOccurs="0"/>
			<xs:element name="EventID" type="xs:long" minOccurs="0"/>
			<xs:element name="EventStatus" type="EventStatusType" minOccurs="0"/>
			<xs:element name="EventState" type="EventStateType" minOccurs="0"/>
			<xs:element name="Action" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="result" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Completed"/>
					<xs:enumeration value="Failed"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MultiArrayType">
		<xs:complexContent>
			<xs:extension base="BaseMultiArrayType">
				<xs:attribute name="etype" type="xs:string" fixed="AttributeCollection"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayType">
		<xs:complexContent>
			<xs:extension base="BaseArrayType">
				<xs:attribute name="etype" type="xs:string" fixed="AttributeCollection"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MapType">
		<xs:complexContent>
			<xs:extension base="BaseMapType">
				<xs:attribute name="etype" type="xs:string" fixed="AttributeCollection"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MultiArrayEntry">
		<xs:sequence>
			<xs:element name="Value" type="KeyOrValueType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MapEntry">
		<xs:sequence>
			<xs:element name="Key" type="KeyType"/>
			<xs:element name="Value" type="KeyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EventDescType">
		<xs:simpleContent>
			<xs:extension base="String256">
				<xs:attribute name="lang" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EventStatusType">
		<xs:sequence>
			<xs:element name="Code" type="String256" minOccurs="0"/>
			<xs:element name="Description" type="EventDescType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EventStateType">
		<xs:sequence>
			<xs:element name="Code" type="String256" minOccurs="0"/>
			<xs:element name="Description" type="EventDescType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="ReturnEntityGroup">
		<xs:choice>
			<xs:element name="EntityData" type="EntityDataType" minOccurs="0"/>
			<xs:element name="Entity" type="EntityReturnType" minOccurs="0"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="DescriptionType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="lang" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="KeyContentType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--xs:complexType name="KeyType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="Lower" type="xs:integer"/>
				<xs:element name="Upper" type="xs:integer"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="Before" type="xs:date"/>
				<xs:element name="After" type="xs:date"/>
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="type" type="DataType"/>
	</xs:complexType-->
	<xs:complexType name="RelationshipDataMapType">
		<xs:sequence>
			<xs:element name="Relationship" type="RelationshipMapType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelationshipMapType">
		<xs:sequence>
			<xs:element name="RelationType" type="RelationType"/>
			<xs:element name="RelationDepth" type="RelationDepthType" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:group ref="ReturnEntityGroup"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!--xs:complexType name="RelatedEntitiesType"/-->
	
	<xs:complexType name="BaseAttributeCollection" abstract="true">
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="BaseMultiArrayType">
		<xs:complexContent>
			<xs:extension base="BaseAttributeCollection">
				<xs:sequence>
					<xs:element name="Entry" type="MultiArrayEntry" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:string" fixed="marray"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseArrayType">
		<xs:complexContent>
			<xs:extension base="BaseAttributeCollection">
				<xs:sequence>
					<xs:element name="Value" type="KeyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:string" fixed="array"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseMapType">
		<xs:complexContent>
			<xs:extension base="BaseAttributeCollection">
				<xs:sequence>
					<xs:element name="Entry" type="MapEntry" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="xs:string" fixed="map"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Start Added for ValidValues as ValidValues can be of type Map ot MultiArray-->
	<xs:complexType name="MapOrArrayEntry">
		<xs:sequence>
			<xs:element name="Key" type="KeyType" minOccurs="0"/>
			<xs:element name="Value" type="KeyType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MapOrArrayType">
		<xs:complexContent>
			<xs:extension base="BaseMapOrArrayType">
				<xs:attribute name="etype" type="xs:string" fixed="AttributeCollection"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseMapOrArrayType">
		<xs:complexContent>
			<xs:extension base="BaseAttributeCollection">
				<xs:sequence>
					<xs:element name="Entry" type="MapOrArrayEntry" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="ValidValueType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ValidValueType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="marray"/>
			<xs:enumeration value="map"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Start Added for ValidValues as ValidValues can be of type Map ot MultiArray-->
	<!-- Added for MultiValue Attribute start-->
	<xs:element name="Value" type="KeyType" substitutionGroup="Key"/>
	<xs:element name="Key" type="KeyType"/>
	<xs:complexType name="BaseMultiValueType">
		<xs:complexContent>
			<xs:extension base="BaseAttributeCollection">
				<xs:sequence>
					<xs:element ref="Value" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="type" type="DataType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MultiValueType">
		<xs:complexContent>
			<xs:extension base="BaseMultiValueType">
				<xs:attribute name="etype" type="xs:string" fixed="MultiValueAttribute"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Added for MultiValue Attribute end-->
	<!--Payload-->
	<xs:simpleType name="ActionType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="mastercatalog"/>
			<xs:enumeration value="workitem"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RelationType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="RelationDepthType">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="100"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExecModeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SYNCHR"/>
			<xs:enumeration value="ASYNCHR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String256">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Data types-->
	<xs:complexType name="DateAttributeType" mixed="true">
		<xs:choice/>
		<xs:attribute name="etype" type="xs:string" fixed="Attribute"/>
		<xs:attribute name="type" type="xs:string" fixed="date"/>
	</xs:complexType>
	<xs:complexType name="BooleanAttributeType" mixed="true">
		<xs:choice/>
		<xs:attribute name="etype" type="xs:string" fixed="Attribute"/>
		<xs:attribute name="type" type="xs:string" fixed="boolean"/>
	</xs:complexType>
	<xs:simpleType name="CountType">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="10000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="boolean"/>
			<xs:enumeration value="date"/>
			<xs:enumeration value="integer"/>
			<xs:enumeration value="decimal"/>
			<xs:enumeration value="file"/>
			<xs:enumeration value="string"/>
			<xs:enumeration value="range"/>
			<xs:enumeration value="amount"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperatorType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="ne"/>
			<xs:enumeration value="Id"/>
			<xs:enumeration value="nd"/>
			<xs:enumeration value="lk"/>
			<xs:enumeration value="nl"/>
			<xs:enumeration value="sw"/>
			<xs:enumeration value="ew"/>
			<xs:enumeration value="sl"/>
			<xs:enumeration value="ge"/>
			<xs:enumeration value="gt"/>
			<xs:enumeration value="lt"/>
			<xs:enumeration value="le"/>
			<xs:enumeration value="bw"/>
            <xs:enumeration value="in"/>
        </xs:restriction>
	</xs:simpleType>
</xs:schema>
