MSF_OrderFallout/Shared Archive/SharedResources/SchemaDefinitions/Resource/FC/Workitem_Action.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tibco.com/cim/services/workitem/wsdl/2.0" targetNamespace="http://www.tibco.com/cim/services/workitem/wsdl/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>
            © TIBCO Software 2008
        </xs:documentation>
	</xs:annotation>
	<!-- includes -->
	<xs:include schemaLocation="./Common.xsd"/>
	<xs:element name="DataService" type="DataServiceType"/>
		<!--xs:element name="BaseEntity" type="BaseEntityType"/-->

	<!--xs:element name="Workitem" type="WorkitemType" substitutionGroup="BaseEntity"/-->
	<!--xs:element name="Command" type="CommandType"/-->
	<!--xs:element name="Response" type="CommandType"/-->
	<!-- work Item types -->
	<xs:group name="WorkitemGroup">
		<xs:sequence>
			<xs:element name="Workitemreference" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Eventreference" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Organization" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="State" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="StateDescription" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Creationdate" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="Datapool" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="Partner" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="WorkitemType" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Description" type="EntityPrimitiveAttributeType" minOccurs="0"/>
            <xs:element name="DocumentType" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="DocumentTypeDescription" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="DocumentSubType" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="DocumentSubTypeDescription" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Owner" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="OwnerName" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OwnerType" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="OriginalOwner" type="EntityPrimitiveAttributeType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="OriginalOwnerName" type="EntityPrimitiveAttributeType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="OriginalWorkitemID" type="EntityPrimitiveAttributeType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ActivityName" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Age" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ClosedBy" type="EntityPrimitiveAttributeType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ClosedByUserName" type="EntityPrimitiveAttributeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClosedOn" type="EntityPrimitiveAttributeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaskType" type="EntityPrimitiveAttributeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CommentHistory" type="MultiArrayType" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="WorkitemParameterGroup">
		<xs:sequence>
            <xs:element name="FromDate" type="DateAttributeType" minOccurs="0"/>
            <xs:element name="ToDate" type="DateAttributeType" minOccurs="0"/>
            <xs:element name="RecordAttribute" type="EntityPrimitiveAttributeType" minOccurs="0"/>
            <xs:element name="Eventreference" type="EntityPrimitiveAttributeType" minOccurs="0"/>
            <xs:element name="ShowActionsFirst" type="BooleanAttributeType" minOccurs="0"/>
            <xs:element name="ProductID" type="EntityPrimitiveAttributeType" minOccurs="0"/>
            <xs:element name="ProductIDExt" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="States" type="MapType" minOccurs="0"/>
			<xs:element name="Datapools" type="MapType" minOccurs="0"/>
			<xs:element name="Partners" type="MapType" minOccurs="0"/>
			<xs:element name="WorkitemTypes" type="MapType" minOccurs="0"/>
			<xs:element name="DocumentTypes" type="MapType" minOccurs="0"/>
			<xs:element name="DocumentSubTypes" type="MapType" minOccurs="0"/>
			<xs:element name="Owners" type="MapType" minOccurs="0"/>
            <xs:element name="MasterCatalogNames" type="MapType" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="WorkitemCloseParameterGroup">
		<xs:sequence>
			<xs:element name="Reasoncode" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="Comment" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="FormResult" type="EntityPrimitiveAttributeType" minOccurs="0"/>
			<xs:element name="SendForCorrections" type="BooleanAttributeType" minOccurs="0"/>
			<xs:element name="CustomAttributes" type="WorkItemCustAttrsType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="WorkItemCustAttrsType" mixed="true">
		<xs:sequence>
			<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- top level elements definitions -->
	<!-- various types definitions -->
	<xs:complexType name="WorkitemEntityDataType">
		<xs:complexContent>
			<xs:extension base="EntityDataType">
				<xs:choice>
					<xs:group ref="WorkitemGroup"/>
					<xs:group ref="WorkitemParameterGroup"/>
					<xs:group ref="WorkitemCloseParameterGroup"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="WorkitemCommandQualifierType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Parameters"/>
            <xs:enumeration value="Close"/>
            <xs:enumeration value="Close/Approve"/>
            <xs:enumeration value="Close/Reject"/>
            <xs:enumeration value="CloseAll"/>
            <xs:enumeration value="CloseAll/Approve"/>
            <xs:enumeration value="CloseAll/Reject"/>
			<xs:enumeration value="Lock"/>
			<xs:enumeration value="Unlock"/>
			<xs:enumeration value="Details"/>
		</xs:restriction>
	</xs:simpleType>
	<!--end of work item types -->
	<xs:group name="CommandOrResponse">
		<xs:choice>
			<xs:element name="Command" type="CommandType" minOccurs="0"/>
			<xs:element name="Response" type="CommandType" minOccurs="0"/>
		</xs:choice>
	</xs:group>
	<!-- top level elements definitions -->
	<xs:complexType name="CommandType">
		<xs:sequence>
			<xs:element name="StartCount" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="MaxCount" type="xs:positiveInteger" minOccurs="0"/>
			<xs:choice>
			<xs:element name="Entity" type="BaseEntityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Workitem" type="WorkitemType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="ResultList" type="ResultListType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="CommtypeType" use="required"/>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="TransactionType">
		<xs:sequence>
			<xs:element name="Context" type="ContextType" minOccurs="0"/>
			<!-- Limit the number of commands within a transaction to one -->
			<xs:group ref="CommandOrResponse"/>
			<xs:element name="TransactionResult" type="TransactionResultType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- various types definitions -->
	<xs:simpleType name="CommtypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Query"/>
			<xs:enumeration value="QueryResponse"/>
			<xs:enumeration value="Modify"/>
			<xs:enumeration value="Get"/>
			<xs:enumeration value="Reassign"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="WorkitemType">
		<xs:complexContent>
			<xs:extension base="BaseEntityType">
				<xs:attribute name="commandqualifier" type="WorkitemCommandQualifierType"/>
				<xs:attribute name="execmode" type="ExecModeType"/>
				<xs:attribute name="etype" type="xs:anySimpleType" fixed="Entity"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="MasterCatalogRecordCommandQualifierType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MetaData"/>
			<xs:enumeration value="ValidValues"/>
			<xs:enumeration value="ValidValuesInit"/>
			<xs:enumeration value="Add"/>
			<xs:enumeration value="Modify"/>
			<xs:enumeration value="Validate/Process"/>
			<xs:enumeration value="Validate/NoProcess"/>
			<xs:enumeration value="NoValidate/NoProcess"/>
			<xs:enumeration value="NoValidate/Process"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MasterCatalogRecordType">
		<xs:complexContent>
			<xs:extension base="BaseEntityType">
				<xs:attribute name="commandqualifier" type="MasterCatalogRecordCommandQualifierType"/>
				<xs:attribute name="etype" type="xs:anySimpleType" fixed="Entity"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RelatedEntitiesType">
		<xs:choice>
			<xs:element name="AttributeGroup" type="AttributeGroupType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RecordAttribute" type="RecordAttributeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MasterCatalogRecord" type="MasterCatalogRecordType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AttributeGroupType">
		<xs:complexContent>
			<xs:extension base="BaseEntityType">
				<xs:attribute name="etype" type="xs:anySimpleType" fixed="Entity"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RecordAttributeType">
		<xs:complexContent>
			<xs:extension base="BaseEntityType">
				<xs:attribute name="etype" type="xs:anySimpleType" fixed="Entity"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="WorkitemEntityGroup">
		<xs:sequence>
			<xs:element name="ExternalKeys" type="ExternalKeysType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Return" type="ReturnType" minOccurs="0"/>
			<xs:element name="EntityData" type="EntityDataType" minOccurs="0"/>
			<xs:element name="LockData" type="LockDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ContextData" type="ContextDataType" minOccurs="0"/>
			<xs:element name="Records" type="RecordsType" minOccurs="0" maxOccurs="1"/>			
			<xs:element name="RelationshipData" type="RelationshipDataType" minOccurs="0"/>
			<xs:element name="ResultList" type="ResultListType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ContextDataType">
		<xs:sequence>
			<xs:element name="Attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--xs:complexType name="BaseEntityType" abstract="true"-->
	<xs:complexType name="BaseEntityType">
		<xs:choice>
			<xs:sequence>
				<xs:group ref="WorkitemEntityGroup"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<!-- Response specific types -->
	<xs:complexType name="LockOwnerType">
		<xs:sequence>
			<xs:element name="DBID" type="xs:long"/>
			<xs:element name="UserName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelativeType">
		<xs:sequence>
			<xs:element name="ExpiryInterval" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AbsoluteType">
		<xs:sequence>
			<xs:element name="ExpiryDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExpiryType">
		<xs:choice>
			<xs:element name="Relative" type="RelativeType"/>
			<xs:element name="Absolute" type="AbsoluteType"/>
			<xs:element name="Never" type="xs:string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="LockDataType">
		<xs:sequence>
			<xs:element name="LockOwner" type="LockOwnerType"/>
			<xs:element name="LockedOn" type="xs:string"/>
			<xs:element name="Expiry" type="ExpiryType"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- type extensions for Workitem related operational data -->
	<xs:complexType name="RecordsType">
		<xs:sequence>
			<xs:element name="Record" type="RecordType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordType">
		<xs:sequence>
			<xs:element name="ExternalKeys" type="ExternalKeysType"/>
			<xs:element name="OperationData" type="OperationDataType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperationDataType">
		<xs:sequence>
			<xs:element name="Primary" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Operation" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OperationDescription" type="DescriptionType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Suboperation" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SuboperationDescription" type="DescriptionType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OperationDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Message" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Alerts" type="OperationAlertsType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperationAlertsType">
		<xs:sequence>
			<xs:element name="RejectionCount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ErrorCount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="WarningCount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- end of Workitem related operational data -->
	
	<xs:complexType name="DataServiceType">
		<xs:sequence>
			<xs:element name="Identity" type="IdentityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Context" type="ContextType" minOccurs="0"/>
			<xs:element name="Transaction" type="TransactionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Result" type="ResultType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:enumeration value="1.6"/>	
					<xs:enumeration value="2.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
<xs:complexType name="RelationshipType">
		<xs:sequence>
			<xs:element name="RelationType" type="RelationType"/>
			<xs:element name="RelatedEntities" type="RelatedEntitiesType"/>
		</xs:sequence>
		<xs:attribute name="incremental" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="RelationshipDataType">
		<xs:sequence>
			<xs:element name="Relationship" type="RelationshipType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
