MSF_TertioTechnicalService/Shared Archive/SharedResources/WebServiceDefinitions/Interface/Provisioning/ProvisioningOperation/ProvisioningOperationManagement/Tertio_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://three.co.uk/xsd/resource/common/commondefinitions/msf/messagecontext/v1" xmlns:ns="http://three.co.uk/xsd/Interface/provisioning/provisioningoperation/provisioningoperationmanagement/mctertio/v1" xmlns:ns3="http://three.co.uk/xsd/resource/common/commondefinitions/msf/exceptioninfo/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://three.co.uk/wsdl/Interface/provisioning/provisioningoperation/provisioningoperationmanagement/mctertio/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MCTertioWSDL" targetNamespace="http://three.co.uk/wsdl/Interface/provisioning/provisioningoperation/provisioningoperationmanagement/mctertio/v1">
    <wsdl:import location="../../../../../SchemaDefinitions/Resource/Common/CommonDefinitions/MSF/MessageContext_v1.xsd" namespace="http://three.co.uk/xsd/resource/common/commondefinitions/msf/messagecontext/v1"/>
    <wsdl:import location="../../../../../SchemaDefinitions/Resource/Common/CommonDefinitions/MSF/ExceptionInfo_v1.xsd" namespace="http://three.co.uk/xsd/resource/common/commondefinitions/msf/exceptioninfo/v1"/>
    <wsdl:import location="../../../../../SchemaDefinitions/Interface/Provisioning/ProvisioningOperation/ProvisioningOperationManagement/MC_Tertio_v1.xsd" namespace="http://three.co.uk/xsd/Interface/provisioning/provisioningoperation/provisioningoperationmanagement/mctertio/v1"/>
    <wsdl:message name="ProvidentRequest">
        <wsdl:part name="request" element="ns:ProvidentRequest"/>
    </wsdl:message>
    <wsdl:message name="ProvidentResponse">
        <wsdl:part name="response" element="ns:ProvidentResponse"/>
    </wsdl:message>
    <wsdl:message name="MessageContext">
        <wsdl:part name="context" element="ns2:MessageContext"/>
    </wsdl:message>
    <wsdl:message name="ExceptionInfo">
        <wsdl:part name="fault" element="ns3:ExceptionInfo"/>
    </wsdl:message>
    <wsdl:portType name="Tertio">
        <wsdl:operation name="Provident">
            <wsdl:input name="request" message="tns:ProvidentRequest"/>
            <wsdl:output name="response" message="tns:ProvidentResponse"/>
            <wsdl:fault name="fault1" message="tns:ExceptionInfo"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>