MSF_ServiceOrderManagement/Shared Archive/SharedResources/WebServiceDefinitions/Interface/Service/ServiceOrder/ServiceOrderManagement/MC_ServiceOrder_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<definitions xmlns:ns2="http://three.co.uk/xsd/resource/common/commondefinitions/msf/exceptioninfo/v1" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://three.co.uk/xsd/Interface/service/serviceorder/serviceordermanagement/mcso/v1" xmlns:ns3="http://three.co.uk/xsd/resource/common/commondefinitions/msf/messagecontext/v1" xmlns:tns="http://three.co.uk/wsdl/Interface/service/serviceorder/serviceordermanagement/mcso/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://three.co.uk/wsdl/Interface/service/serviceorder/serviceordermanagement/mcso/v1" name="MCServiceOrderWSDL">
    <import location="../../../../../SchemaDefinitions/Interface/Service/ServiceOrder/ServiceOrderManagement/MC_SO_v1.xsd" namespace="http://three.co.uk/xsd/Interface/service/serviceorder/serviceordermanagement/mcso/v1"/>
    <import location="../../../../../SchemaDefinitions/Resource/Common/CommonDefinitions/MSF/ExceptionInfo_v1.xsd" namespace="http://three.co.uk/xsd/resource/common/commondefinitions/msf/exceptioninfo/v1"/>
    <import location="../../../../../SchemaDefinitions/Resource/Common/CommonDefinitions/MSF/MessageContext_v1.xsd" namespace="http://three.co.uk/xsd/resource/common/commondefinitions/msf/messagecontext/v1"/>
    <message name="SubmitServiceOrderRequest">
        <part element="ns:SubmitServiceOrderRequest" name="body"/>
    </message>
    <message name="SubmitServiceOrderResponse">
        <part element="ns:SubmitServiceOrderResponse" name="body"/>
    </message>
    <message name="ExceptionInfo">
        <part name="fault" element="ns2:ExceptionInfo"/>
    </message>
    <message name="MessageContext">
        <part name="header" element="ns3:MessageContext"/>
    </message>
    <portType name="ServiceOrder">
        <operation name="SubmitServiceOrder">
            <input message="tns:SubmitServiceOrderRequest"/>
            <output message="tns:SubmitServiceOrderResponse"/>
            <fault message="tns:ExceptionInfo" name="fault1"/>
        </operation>
    </portType>
</definitions>