MSF_ServiceOrderManagement/Shared Archive/SharedResources/WebServiceDefinitions/Interface/Service/ServiceOrder/ServiceOrderManagement/Concrete/MC_ServiceOrder_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://three.co.uk/xsd/resource/common/commondefinitions/msf/exceptioninfo/v1" xmlns:ns1="http://three.co.uk/xsd/Interface/service/serviceorder/serviceordermanagement/mcso/v1" xmlns:ns="http://three.co.uk/xsd/resource/common/commondefinitions/msf/messagecontext/v1" xmlns:tns="http://xmlns.example.com/1442394403276" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1442394403276">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://three.co.uk/xsd/resource/common/commondefinitions/msf/exceptioninfo/v1">
            <xs:include schemaLocation="../../../../../../../SharedResources/SchemaDefinitions/Resource/Common/CommonDefinitions/MSF/ExceptionInfo_v1.xsd"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://three.co.uk/xsd/resource/common/commondefinitions/msf/messagecontext/v1">
            <xs:include schemaLocation="../../../../../../../SharedResources/SchemaDefinitions/Resource/Common/CommonDefinitions/MSF/MessageContext_v1.xsd"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://three.co.uk/xsd/Interface/service/serviceorder/serviceordermanagement/mcso/v1">
            <xs:include schemaLocation="../../../../../../../SharedResources/SchemaDefinitions/Interface/Service/ServiceOrder/ServiceOrderManagement/MC_SO_v1.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="SubmitServiceOrder_v1">
        <wsdl:port binding="tns:SOAPHTTPBinding" name="SOAPHTTP">
            <soap:address location="http://localhost:6060/IntegrationServices/Service/ServiceOrder/ServiceOrderManagement/ServiceOrder_v1/Service/SubmitServiceOrder_v1.serviceagent/SOAPHTTP"/>
        </wsdl:port>
        <wsdl:port binding="tns:SOAPJMSBinding" name="SOAPJMS">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">UK.DEV.REQ.SRVORD.SRVORDMGT.SRVORD.SUBSRVORD.SOAP11.V1</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ServiceOrder">
        <wsdl:operation name="SubmitServiceOrder">
            <wsdl:input message="tns:SubmitServiceOrderRequest"/>
            <wsdl:output message="tns:SubmitServiceOrderResponse"/>
            <wsdl:fault message="tns:ExceptionInfo" name="fault1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPHTTPBinding" type="tns:ServiceOrder">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SubmitServiceOrder">
            <soap:operation soapAction="SOAPHTTP/SubmitServiceOrder" style="document"/>
            <wsdl:input>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:MessageContext" part="header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:MessageContext" part="header" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SOAPJMSBinding" type="tns:ServiceOrder">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="SubmitServiceOrder">
            <soap:operation soapAction="SOAPJMS/SubmitServiceOrder" style="document"/>
            <wsdl:input>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:MessageContext" part="header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:MessageContext" part="header" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="MessageContext">
        <wsdl:part element="ns:MessageContext" name="header"/>
    </wsdl:message>
    <wsdl:message name="SubmitServiceOrderRequest">
        <wsdl:part element="ns1:SubmitServiceOrderRequest" name="body"/>
    </wsdl:message>
    <wsdl:message name="SubmitServiceOrderResponse">
        <wsdl:part element="ns1:SubmitServiceOrderResponse" name="body"/>
    </wsdl:message>
    <wsdl:message name="ExceptionInfo">
        <wsdl:part element="ns2:ExceptionInfo" name="fault"/>
    </wsdl:message>
</wsdl:definitions>